.search{
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
.search-bar input{
    width: 300px;
    border-width: 3px;
    border-color: rgb(31, 17, 233);
    border-radius: 5px;
    box-shadow: 2px 2px 3px 2px black ;
}
.search-bar button{
    width: 80px;
    border-radius: 8px;
    margin-left: 20px;
    background-color: rgb(115, 173, 211);
    font-weight: bold;
    font-style: italic;
    color: rgb(60, 61, 63);
}
.gallery{
    margin-top: 20px;
    width: 100%;
}
.photos{
    display: inline-block;
}
.photos img{
    width: 200px;
    height: 200px;
    margin: 10px;
}

